.facultyWrapper {
  display: flex;

  &:not(:last-child) {
    .content {
      padding-bottom: 10px;
    }
  }

  &:last-child {
    .line {
      display: none;
    }
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25px;

  --shift-timeline-top: 5px;

  .circle {
    display: inline-block;
    flex: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--bs-secondary-bg);
    margin-top: var(--shift-timeline-top);
  }
  
  .line {
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: var(--bs-secondary-bg);
    margin-bottom: calc(var(--shift-timeline-top) * -1);
  }

  
}

