.logo {
  font-family: "Pacifico-Regular";
}

$colors: #3498db, #9b59b6, #16a085;

.navbarNav {
  position: relative;

  .navLink {
    display: block;
    width: 90px;
    padding: 0 5px;
    position: relative;
    z-index: 9;
    text-align: center;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    line-height: 2rem;
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;

    & ~ .slider {
      background-color: transparent;
      transition-property: background-color, left;
      transition-duration: 0.4s, 0s;
      transition-delay: 0s, 0.4s;
    }

    &:hover {
      & ~ .slider {
        transition-delay: 0.4s, 0s;
      }
    }

    &.active {
      & ~ .slider {
        transition: left 0.4s, background-color 0.4s;
      }
    }

    &.active:hover {
      & ~ .slider {
        transition-delay: 0s, 0s;
      }
    }
  }

  .slider {
    width: 90px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #3498db;
    z-index: 8;
  }

  @for $i from 1 through 3 {
    & .navLink:nth-child(#{$i}).active {
      & ~ .slider {
        left: ($i - 1) * 90px;
        background-color: nth($colors, $i);
      }
    }
  }

  @for $i from 1 through 3 {
    & .navLink:nth-child(#{$i}):hover {
      & ~ .slider {
        left: ($i - 1) * 90px;
        background-color: nth($colors, $i);
      }
    }
  }
}
